- content_for :title do
  Edit
  = @text.title
%h1 
  Edit
  %q= @text.title
= haml :form, :locals => {:title => @text.title, :text => @text.text, :actionurl => "/text/#{@text.id}/"}
%h2 Upload
%form(action = "/text/#{@text.id}/images" method = "POST" enctype="multipart/form-data")
  %input(type='file' name="file_upload" accept="image/*")
  %input(type='submit' value='upload')
